// ARENA

.arena-wrapper {
  color: #fff;
  @include flexbox();
  height: 100vh;
  overflow-y: hidden;
  background: #000;
  width: 1920px;
  height: 1080px;
  overflow-x: auto;
  .arena {
    @include flex(1 1 auto);
  }
  .arena-info {
    @include flex(0 0 500px);
    padding: 30px;
    @include flexbox();
    @include flex-direction(column);
    .beta,
    .alpha {
      text-transform: uppercase;
      border-bottom: 2px solid #fff;
      margin-bottom: 20px;
      padding-bottom: 5px;
    }
    .robots-list {
      @include flex(1 1 auto);
      overflow-y: auto;
    }
    .actions {
      @include flex(0 0 auto);
      .button {
        width: calc(50% - 10px);
        &:last-child {
          margin-left: 20px;
        }
      }
    }
  }
}

.robots-list {
  background: rgba(0, 0, 0, .2);
  .robot-item {
    position: relative;
    padding: 20px 20px 20px 150px;
    min-height: 150px;
  }
  .robot-image {
    width: 160px;
    height: 160px;
    position: absolute;
    top: -16px;
    left: -30px;
    text-align: center;
    img {
      width: 100px;
      height: auto;
    }
  }
  .name {
    @include fontSize(26);
    font-weight: $light;
    text-transform: uppercase;
  }
  .value {
    margin-right: 10px;
  }
}

.progress-bar {
  width: calc(100% - 50px);
  // background: $grey_200;
  background: #1a1d1f;
  // background: rgba(255, 255, 255, .2);
  position: relative;
  height: 20px;
  margin: 14px 0;
  // overflow: hidden;
  .progress {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .value {
    position: absolute;
    top: 0;
    right: -50px;
    font-weight: $bold;
  }
}
