// COMBATS

.combats {
  @include flexbox();
  @include flex-wrap(wrap);
  padding-top: 60px;
  max-width: 1640px;
  margin: 0 auto;
  .create-combat {
    @include flex( 1 1 auto);
    padding-right: 40px;
    @include remSize(margin-bottom, 40);
    .alpha {
      margin-bottom: 40px;
    }
  }
  .past-combats {
    @include flex(0 0 500px);
    border-left: 1px solid #fff;
    padding-left: 40px;
  }
  .robot {
    position: relative;
    .sample-color {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      top: 8px;
      left: 10px;
      margin: 0;
    }
  }
}

.past-combats-list {
  margin: 30px 0;
  .past-combats-item {
    padding: 15px 0;
    text-transform: uppercase;
    @include fontSize(20);
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background: #fff;
      display: inline-block;
      vertical-align: middle;
      transform: rotate(45deg);
      margin-right: 20px;
    }
  }
}