// MODALS

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255, 255, 255, .4);
  .modal {
    @include centered(absolute);
  }
}

.modal {
  background: #000;
  color: #fff;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  .beta {
    margin: 0 0 30px 0;
  }
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
    background: transparent;
  }
  .form-field {
    margin-top: 20px;
  }
  .modal-actions {
    text-align: right;
    padding-top: 20px;
    .button {
      margin-left: 20px;
    }
  }
}