// PANELS

.panel {
  background: transparent;
  &.full-size {
    .alpha {
      margin-bottom: 40px;
    }
  }
  @include media-query(desk) {
    @include remSize(padding, 30);
  }
}

.panel-actions {
  text-align: right;
  @include remSize(padding-top, 16);
  .button {
    margin-left: 20px;
  }
}