// ROBOT SELECT

.robot-select {
  @include flexbox();
  @include align-items(center);
  padding-bottom: 30px;
  .robot {
    @include flex(0 0 50px);
  }
  .select-field {
    padding-left: 20px;
    @include flex(1 1 auto);
  }
}

.robot {
  text-transform: uppercase;
  font-weight: $bold;
  position: relative;
  @include remSize(padding-left, 50);
  .sample-color {
    position: absolute;
    top: 50%;
    left: 0;
    width: 22px;
    height: 22px;
    transform: rotate(45deg) translateY(-50%);
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  .robot-name {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}