// TABLES

.table-wrapper {
  width: 100%;
  min-width: 600px;
  overflow-x: auto;
  margin-bottom: 60px;
}

.table {
  width: 100%;
  text-align: left;
  background: transparent;
  color: #fff;
  th {
    padding: 12px 14px;
    @include fontSize(24);
  }
  thead {
    th {
      text-transform: uppercase;
      @include fontSize(20);
      color: $grey-200;
    }
  }
  tr {
    border-bottom: 1px solid #fff;
  }
  .center-align {
    text-align: center;
  }
  .robot-name {
    font-weight: 500;
    @include fontSize(20);
  }
}