.button-loading {
  cursor: default;
  pointer-events: none;
}

/* --- Basics --- */

.loading {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  vertical-align: bottom;
  font-weight: normal;
}

.loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
  font-size: 1.5rem;
}

/* --- Types --- */

// TODO Improvement the implementation making it more flexible

@if $loadingAnimation == ellip {
  .loading::after {
    content: '\A.\A..\A...';
    animation: spin4 2s steps(4) infinite;
  }
  @keyframes spin4 {
    to {
      transform: translateY(-$button-height * 4);
    }
  }
} @else if $loadingAnimation == dots {
  .loading::after {
    content: '⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏';
    animation: spin10 1s steps(10) infinite;
  }
  @keyframes spin10 {
    to {
      transform: translateY(-$button-height * 10);
    }
  }
} @else if $loadingAnimation == dots2 {
  .loading::after {
    content: '⠋\A⠙\A⠚\A⠞\A⠖\A⠦\A⠴\A⠲\A⠳';
    animation: spin9 1s steps(9) infinite;
  }
  @keyframes spin9 {
    to {
      transform: translateY(-$button-height * 9);
    }
  }
} @else if $loadingAnimation == bar {
  .loading::after {
    content: '▏\A▎\A▍\A▌\A▋\A▊\A▉';
    animation: spin7 1s steps(7) infinite;
    font-family: sans-serif;
  }
  @keyframes spin7 {
    to {
      transform: translateY(-$button-height * 7);
    }
  }
} @else if $loadingAnimation == circle {
  .loading::after {
    content: '◴\A◷\A◶\A◵';
    animation: spin4 1s steps(4) infinite;
  }
  @keyframes spin4 {
    to {
      transform: translateY(-$button-height * 4);
    }
  }
} @else if $loadingAnimation == beam {
  .loading::after {
    content: '\A=   \A ==  \A === \A ====\A  ===\A   ==\A    =\A';
    animation: spin9 1.2s steps(9) infinite;
    font-family: monospace;
  }
  @keyframes spin9 {
    to {
      transform: translateY(-$button-height * 9);
    }
  }
} @else if $loadingAnimation == bullet {
  .loading::after {
    content: ' ●    \A   ●   \A    ●  \A     ● \A      ●\A     ● \A    ●  \A   ●   \A  ●    \A ●     ';
    animation: spin10 1s steps(10) infinite;
  }
  @keyframes spin10 {
    to {
      transform: translateY(-$button-height * 10);
    }
  }
} @else if $loadingAnimation == rhomb {
  .loading::after {
    content: '◇◇◇\A◈◇◇\A◇◈◇\A◇◇◈';
    animation: spin4 1s steps(4) infinite;
  }
  @keyframes spin4 {
    to {
      transform: translateY(-$button-height * 4);
    }
  }
} @else if $loadingAnimation == toggle {
  .loading::after {
    content: '⊶\A⊷';
    animation: spin2 1s steps(2) infinite;
  }
  @keyframes spin2 {
    to {
      transform: translateY(-$button-height * 2);
    }
  }
} @else if $loadingAnimation == time {
  .loading::after {
    content: '🕐\A🕑\A🕒\A🕓\A🕔\A🕕\A🕖\A🕗\A🕘\A🕙\A🕚\A🕛';
    animation: spin12 3s steps(12) infinite;
    width: 1.3em;
  }
  @keyframes spin12 {
    to {
      transform: translateY(-$button-height * 12);
    }
  }
}

// /* --- Animations --- */

// @keyframes spin1  { to { transform: translateY( -$button-height ); } }
// @keyframes spin2  { to { transform: translateY( -$button-height * 2 ); } }
// @keyframes spin3  { to { transform: translateY( -$button-height * 3 ); } }
// @keyframes spin4  { to { transform: translateY( -$button-height * 4 ); } }
// @keyframes spin5  { to { transform: translateY( -$button-height * 5 ); } }
// @keyframes spin6  { to { transform: translateY( -$button-height * 6 ); } }
// @keyframes spin7  { to { transform: translateY( -$button-height * 7 ); } }
// @keyframes spin8  { to { transform: translateY( -$button-height * 8 ); } }
// @keyframes spin9  { to { transform: translateY( -$button-height * 9 ); } }
// @keyframes spin10 { to { transform: translateY( -$button-height * 10 ); } }
// @keyframes spin11 { to { transform: translateY( -$button-height * 11 ); } }
// @keyframes spin12 { to { transform: translateY( -$button-height * 12 ); } }
