%button {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  @include fontSize(16);
  font-family: $font;
  font-weight: $bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  line-height: 1;
  cursor: pointer;
  width: $button-width;
  margin: 0;
  height: $button-height;
  line-height: $button-height;
  background-color: $white;
  color: $black;
  border-radius: 0;
  font-family: $font;
  &[disabled] {
    color: #a8a8a8;
    background: #eaeaea;
  }
}

%icon-button {
  -webkit-appearance: none;
  text-align: center;
  border: 0;
  background-color: transparent;
  @include inline-block-fix;
  .icon {
    @include inline-block;
    vertical-align: middle;
  }
  &:hover,
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

// SOFT BUTTON

.button {
  @extend %button;
  color: $white;
  background-color: transparent;
  border-color: #fff;
  &:hover {
    background: #fff;
    color: #000;
  }
  &.secondary {
    background: $error;
    border-color: $error;
  }
}

