.form-field {
  padding: 10px 0 30px;
  position: relative;
}

input,
select,
textarea,
input[type='checkbox']:checked,
input[type='radio']:checked {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-label {
  font-size: 12px;
  color: $text;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  .is-focused & {
    color: $primary;
  }
  .has-error & {
    color: $error;
  }
  .is-disabled & {
    color: $text;
  }
}

.form-input[type='text'],
.form-input[type='email'],
.form-input[type='password'],
.form-input[type='tel'],
.form-input[type='number'],
.select,
.textarea {
  border: 0;
  border: $grey-100 1px solid;
  background: transparent;
  position: relative;
  padding: 15px;
  color: $text;
  font-size: 16px;
  width: 100%;
  outline: none;
  &:focus,
  .is-focused & {
    border-color: #09a29c;
    color: $black;
  }
  .has-error & {
    border-bottom: #db4432 2px solid;
    color: #222c31;
  }
  &[disabled] {
    border-color: $disabled;
    border-style: dotted;
    color: $disabled;
  }
}

.form-input[type='number'] {
  -moz-appearance: textfield;
}

.form-input[type='number']::-webkit-inner-spin-button,
.form-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  width: 100%;
  height: auto;
}

.select-field {
  padding: 10px 0;
  display: block;
  position: relative;
  background: transparent;
  &:after {
    content: '\e916';
    @extend %icon;
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    color: $black;
    pointer-events: none;
    touch-events: none;
    transform: rotate(-90deg)
  }
  .form-select {
    width: 100%;
    border: 1px solid $grey-100;
    height: 50px;
    outline: none;
    padding: 15px;
    background: transparent;
  }
}

.select {
  border-radius: 0;
  padding-right: 30px;
}
