// HEADINGS

.alpha,
.beta,
.gamma {
  font-family: $fontSecondary;
  text-transform: uppercase;
  font-weight: $black;
  letter-spacing: 4px;
  text-shadow: 0 0 60px #ff1177;
  // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
}

.alpha {
  @include fontSize(30);
  @include media-query(lap-and-up) {
    @include fontSize(44);
  }
}

.beta {
  @include fontSize(26);
}