%icon,
.icon {
  display: inline-block;
  vertical-align: middle;
  font-family: 'rpIcons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  overflow: hidden;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon svg {
  display: block;
  height: 100%;
  max-width: 100%;
}

.no-svg .icon {
  svg {
    display: none !important;
  }
  &:before {
    display: inline-block;
  }
}

//Usage:
//<span className="icon icon-add-new" aria-hidden=true></span>

.icon-add-new:before {
  content: '\e900';
}
.icon-arrow-left:before {
  content: '\e916';
}
.icon-arrow-right:before {
  content: '\e917';
}
.icon-asset-small:before {
  content: '\e901';
}
.icon-asset:before {
  content: '\e902';
}
.icon-back:before {
  content: '\e918';
}
.icon-calendar:before {
  content: '\e903';
}
.icon-caret-down:before {
  content: '\e916';
}
.icon-close:before {
  content: '\e904';
}
.icon-compare:before {
  content: '\e905';
}
.icon-contract:before {
  content: '\e906';
}
.icon-copy:before {
  content: '\e907';
}
.icon-delete:before {
  content: '\e908';
}
.icon-drag:before {
  content: '\e909';
}
.icon-edit:before {
  content: '\e90a';
}
.icon-filter:before {
  content: '\e90b';
}
.icon-image:before {
  content: '\e90c';
}
.icon-income-small:before {
  content: '\e90d';
}
.icon-income:before {
  content: '\e90e';
}
.icon-info:before {
  content: '\e90f';
}
.icon-minus:before {
  content: '\e910';
}
.icon-objective-small:before {
  content: '\e911';
}
.icon-objective:before {
  content: '\e912';
}
.icon-ok:before {
  content: '\e913';
}
.icon-plus:before {
  content: '\e914';
}
.icon-search:before {
  content: '\e915';
}
