// TEXT

.value {
  display: inline-block;
  &.strong {
    font-weight: $bold;
    @include fontSize(30);
  }
  &.error {
    color: $error;
  }
  &.success {
    color: $success;
  }
  &.info {
    color: $info;
  } 
}