/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// -------------------------------------
//   Colors
// -------------------------------------

// Greyscale
$white: #fff;
$grey_100: #e9ecef;
$grey_200: #a6b6be;
$grey_300: #547281;
$grey_400: #3c505a;
$grey_500: #222c31;
$black: #000;

// ------- Functional colors ------- //

$primary: $grey_500; //primaryDark
// $primaryLight: $teal_100; //primary
// $primaryDark: $teal_800;

$secondary: $grey_300;
// $secondaryDark: $blue_400;

$baseBg: #eee;

$text: #fff;
// $textDark: $grey_500;
// $textLight: $grey_300;
// $textUltraLight: $grey_200;

$error: #D0021B;
$disabled: $grey_400;
$success: #00C176;
$info: #4A90E2;

// -------------------------------------
//   Fonts
// -------------------------------------

$font: 'Ubuntu', Arial, sans-serif;
$fontSecondary: 'space_age', Helvetica, Arial, sans-serif;

$base-lineHeight: normal;

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

$font-base: 16;
$document-font-size: ($font-base / 16) * 100%;


$loadingAnimation: dots;

// -------------------------------------
//   Buttons dimensions
// -------------------------------------

$button-height: 50px;
$button-width: 160px;

// -------------------------------------
//   Z-Index levels
// -------------------------------------

$z-index-toast: 10000;
$z-index-modal: 9000;
$z-index-overlay: 8000;
$z-index-dropdown: 7000;
$z-index-dialog: 6000;
$z-index-popup: 5000;
$z-index-default: 1;
$z-index-deepdive: -99999;

// -------------------------------------
//   Layout
// -------------------------------------

$l-width: 98%;
$l-maxWidth: 1200px;

$base-whitespace: 1em;

// -------------------------------------
//   Grid
// -------------------------------------

// inline-block, float o none

$grid: inline-block;

// -------------------------------------
//   Breakpoints
// -------------------------------------

// palm: for handheld devices
// lap: for tablets and netbooks and the like
// portable: for both of the above
// desk: for anything big enough to be deemed stationary

$lap-start: 700;
$desk-start: 970;
//$desk-wide-start: 1200;

$palm-end: $lap-start - 0.01;
$lap-end: $desk-start - 0.01;
