// GLOBALS

@import 'globals/settings';
@import 'globals/mixins';

// BASE

@import 'base/normalize';
@import 'base/grid';
@import 'base/base';
@import 'base/layout';

// ATOMS

@import 'atoms/icons';
@import 'atoms/texts';
@import 'atoms/buttons';
@import 'atoms/button-loading';
@import 'atoms/forms';
@import 'atoms/headings';

// COMPONENTS

@import 'components/panels';
@import 'components/robot-select';
@import 'components/tables';
@import 'components/modals';
@import 'components/arena';
@import 'components/combats';

// arena

#simulation-arena {
    position: absolute;
    top: 40px;
    left: 40px;
}
