
/*------------------------------------*\
    $STYLEGUIDE BASE
\*------------------------------------*/

.styleguide-wrapper{
	@include remSize('padding', 15);
}

.styleguide-title{
	@include fontSize(28);
    font-weight: bold;
    color: $primary;
}

.styleguide-subtitle{
	@include fontSize(20);
    font-weight: bold;
    color: $text;
}
