/*------------------------------------*\
    $COLOR PATTERNS
\*------------------------------------*/

.styleguide-color-list {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  .color-pattern {
    border: 2px solid #e1e1e1;
    border-radius: 6px;
    overflow: hidden;
    width: 240px;
    @include remSize('margin', 0 10 20);
  }
  .color-bg {
    width: 100%;
    height: 80px;
  }
  .color-texts {
    @include remSize('padding', 0 14);
  }
}
