
/*------------------------------------*\
    $ICON PATTERNS
\*------------------------------------*/

.styleguide-icon-list{
	li{
		min-height: 130px;
	    text-align: center;
	    border: 1px solid #e1e1e1;
	    border-radius: 2px;
	    overflow: hidden;
	    width: 10%;
	    min-width: 180px;
	    display: inline-block;
	    vertical-align: top;
	    margin: 0 10px 20px;
	    padding: 20px 15px;
	}
	.icon{
	    color: $primary;
	    font-size: 50px;
	    display: block;
	    margin: 0 auto 20px;
	}
}
