/*------------------------------------*\
    $BASE
\*------------------------------------*/

/* Tipos */

@include font-face('Ubuntu', 'Ubuntu-Light', 300, normal);
@include font-face('Ubuntu', 'Ubuntu-Regular', 500, normal);
@include font-face('Ubuntu', 'Ubuntu-Bold', 700, normal);
@include font-face('space_age', 'space_age', 500, normal);
@include font-face-complete('rpIcons', 'rpIcons');

/* Global */

html {
  width: 100%;
}

html, 
body, 
*, 
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  //min-height: 100%;
  box-sizing: border-box;
  // width: 1920px;
  // height: 1080px;
  background: #000;
  font-family: $font;
}


#app {
  font-size: $document-font-size;
  //background: $baseBg;
  color: $text;
  font-family: $font;
  font-size: 16px;
  line-height: $base-lineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  ::selection {
    background: $primary;
    color: $white;
  }
  ::-moz-selection {
    background: $primary;
    color: $white;
  }
}

iframe {
  max-width: 100%;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
dl,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.1;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
  }
}

p a {
  color: $primary;
}

form {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

button,
input,
textarea,
select {
  -webkit-appearance: none;
  &:active,
  &:focus {
    outline: none;
  }
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
}

/* Helpers */

.reader-only {
  @include hide-content;
}
