/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-wrapper {
  background-color: $baseBg;
  display: table;
  width: 100%;
  height: 100%;
}

.main {
  @include remSize('padding', 20 40 50);
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.wrapper {
  width: $l-width;
  max-width: $l-maxWidth;
  margin: 0 auto;
}

.full-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  @include remSize(padding, 60);
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  background-image: url(../styles/images/pattern.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  &.wide-space {
    @include remSize(padding-top, 100);
  }
}

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

@if $grid == inline-block {
  .g {
    font-size: 0;
    > * {
      @include fontSize($font-base);
    }
  }
  .gi {
    @include media-query(lap-and-up) {
      display: inline-block;
      vertical-align: top;
    }
  }
  .gutter {
    padding-left: 40px;
  }
} @else if $grid == float {
  .g {
    @include clearfix;
  }
  .gi {
    float: left;
  }
}
